/* General settings */

body
{
  background: #de9453;
}

#top
{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 0px;
	padding-top: 0px;
  border: solid 2px #925a41;
  background: #ffe8bf;
}

h1 { color: #555; font-size: x-large;}
h2 { color: #555; font-size; large;}
h3 { color: #555; font-size; medium;}

#content h1 a { color: #555; font-size: x-large;}
#content h2 a { color: #555; font-size; large;}
#content h3 a { color: #555; font-size; medium;}


/* Header */
#header
{
  height: 64px;
  background-image:  url(logo.png);
	background-repeat: no-repeat;
	background-color:  white;
	background-position: 20px 10px;
	padding-left: 32px;
	padding-top: 10px;
	padding-bottom: 0px;
  padding-right: 20em;
}

#header #title
{
  font-weight: bold;
  font-size: xx-large;
  padding-left: 70px;
	padding-top: 0;
}

#header #title a 
{
  color: black;
  text-decoration: none;
}

#header #title a:hover
{
  text-decoration: underline;
}

#header #subtitle
{
  font-size:12pt;
  font-weight:bold;
	color: #888;
  padding-left: 70px;
}

/* Account */

#account
{
	background: white;
	text-align: right;
}

#account li
{
  display: inline;
}

#account ul
{
  list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Menu */
#menu
{
  text-align: center;
  padding: 10px;
  background: #AAA;
  border-top: solid 2px #e0dfdf;
  border-bottom: solid 2px #e0dfdf;
}

#menu a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: black;
  margin: 0;
  padding: 0;
}

#menu a:hover
{
  color: green;
  border-bottom:1px dotted green;
}

#menu li
{
  display: inline;
  margin: 0;
/*  padding: 3em; */
	padding: 0em 3em 0em 3em;
}

#menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Content */

#content
{
  padding: 2em;
  padding-top: 0.5em;
}

#content hr
{
  color: grey;
  width: 90%;
}

#content a
{
  color: #67a76d;
  text-decoration: none;
  font-weight: bold;
}

#content a:hover
{
  color: green;
}

#content code
{
  font-family: monospace;
  color: #1e6694;
}

#content pre
{
  border-left-style: double;
  border-left-color: #1e6694;
  padding-left: 1em;
}

/* Footer */

#footer {
  clear: both;
  position: relative;
  color: black;
  font-size: 70%;
  padding: 10px;
  background: #BBB;
  border-top: solid 2px #e0dfdf;
	height: 10px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer a {
  text-decoration: none;
  color: black;
}

#footer img {
  border: none;
  margin-left: 3px;
  float: right;
}

#footer .copyright {
  width: 33%;
	float: left;
  text-align: left;
}

#footer .links {
  float: right;
  width: 33%;
  text-align: center;
}

#footer .sponsors {
  float: right;
  width: 33%;
  text-align: right;
}

.whatsnew {
	float: left;
}

.statistics {
	float: right;
}

#browse table {
  width: 100%;
}

tr.odd {
  background: silver;
}

tr.even {
  background: white;
}
 
#browse th {
  text-align: left;
}

#dev_warning {
  text-align: center;
  width: 80%;
  background: white;
  border: solid 2px red;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#dev_warning p {
  color: red;
  font-weight: bold;
}

.error {
  font-size: larger;
  color: red;
}

/* My account */

#my_account .log_error {
  color: red;
}

#my_account .log_warning {
  color: green;
}

#my_account .log_info {
  color: blue;
}

#my_account table {
  width: 100%;
}

#my_account table, tr, td {
  border-collapse: collapse;
}

#my_account td {
/*  border: 1px solid black;*/
}

#my_account th {
  background: #EAEAEA;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#my_account th.day {
  text-align: left;
}

#my_account th.hour {
  text-align: center;
  font-weight: normal;
  color: black;
  width: 4em;
}

#my_account .navigate {
  text-align: right;
}

#my_account .navigate span {
  margin-left: 1em;
}

/* Rating */
.star-rating{
  list-style:none;
  margin: 0px;
  padding:0px;
  height: 16px;
  position: relative;
  background: url(rating-bgd.png) top left no-repeat;   
}

form.star-rating{
  background: transparent;
  display: block;
}

/*
ul.star-rating{
  float: right;
}

p.star-rating{
  float: left;
}
*/

.star-rating li{
  padding:0px;
  margin:0px;
  height:16px;
  width: 16px;    
  /*\*/
  float: left;
  /* */
}

.star-rating li.vote-rating {
  text-indent: 0px;
  padding-left: 85px;
  width: auto;    
}

.star-rating li button {
  display:block;
  width: 16px;
  height: 16px;
  line-height:16px;
  background-color: transparent;
  border: 0px;
  z-index: 20;
  position: absolute;
  padding: 0px;
  overflow:hidden;
  text-indent: -9000px;
}

/*
 * TODO: dynamic CSS to rate
.star-rating li button:hover {
  background: url(rating-fgd-green.png) left center;
  z-index: 2;
  left: 0px;
  border:none;
}

.star-rating button.star1 {
  left: 0px;
}

.star-rating button.star1:hover {
  width:16px;
}

.star-rating button.star2 {
  left:16px;
}

.star-rating button.star2:hover {
  width: 32px;
}

.star-rating button.star3 {
  left: 32px;
}

.star-rating button.star3:hover {
  width: 48px;
}

.star-rating button.star4 {
  left: 48px;
} 

.star-rating button.star4:hover {
  width: 64px;
}

.star-rating button.star4 {
  left: 64px;
}

.star-rating button.star4:hover {
  width: 80px;
}
  */

.star-rating li.current-rating {
  background: url(rating-fgd.png) left bottom;
  position: absolute;
  height: 16px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}
